
nav li{
    padding: 2%;
}
footer p{
    display: inline;
}
footer a{
    margin:0 1%;
}

.highlight{
    font-size: 1.1em;
    font-weight: bold;
    text-transform: capitalize;
}
.card{
    width:15%;
}
.card img{
    height: 25vh;
    margin-top: 1px;
}

#services{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

#mapa{
    height: 50vh;
    width: 70vw;
}
.btn-floating{
    position:fixed;
    right:5%;
    bottom: 7%;
}

*::-webkit-scrollbar{
    width: 3px;
}
*::-webkit-scrollbar{
    width: 5px;
}
*::-webkit-scrollbar-thumb{
    background-color: #EE6E73;
}
#logo{
    margin:0 1%;
}

@media screen and (max-width:1200px){
    .card{
        width: 19%;
    }
    .card .card-title{
        font-size: 22px;
    }
}

@media screen  and (max-width:992px){
    #mapa{
        width: 100%;
        height: 40vh;
    }    
    .card{
        width: 40%;
    }
    #logo{
        display: none;
    }
}


@media screen and (max-width:600px){
    h2{
        font-size: 2.5rem;
        text-align: center;
    }
    .card{
        width: 80%;
    }
    #mapa{
        width: 100%;
        height: 40vh;
    }    
    .parallax-container {
        height: 50vh;
    }
    
}
